
/ a partir de aqui seria el render plantilla_examen
=render :partial => '/examenes/plantilla_examen'

=form_tag(url_for(:action => 'completar',:controller => 'estudiante_examenes'),:method => :post) do
  = hidden_field_tag 'tiempo', nil, :class => 'tiempo'
  =hidden_field_tag :id, @estudiante_examen.id.to_s
  %h2=submit_tag 'He Terminado el Examen', {:class => 'btn', :onclick => "return verificar_requeridas()", 'data-confirm' => '¿Está seguro que desea completar el examen?'}

:javascript
  
  $("#parte").tabs();

  function verificar_requeridas() {
    if( $('input:text').val().length === 0 ) {
      alert('Aún hay preguntas sin responder, ¿está seguro de esta acción?');
    }
  }

