.centersw
	=form_tag({:action => "validar"}) do
		=text_field :usuario, :cedula, size: 8, autofocus: "true", placeholder: " Cédula", class: "form-control mb-2"
		=password_field :usuario, :clave, :size => 8, :placeholder => " Contraseña", class: "form-control mb-2"
		=submit_tag "Ingresar", class: "btn btn-primary mb-2"



%p= link_to "¿Olvidó su clave?", :action => "olvido_clave", :style => "float: center;font-size: 10px"
