html{
	background: #ACCEF3;	
}
body{
	text-align:left;
	font-size:small;
	font-family:"Lucida Grande", Tahoma, Geneva, Arial, Verdana, sans-serif;
}

/*
article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object, output {
	display: block;
}
*/

#ALAD {  background-color: indigo}
#FRAD {  background-color: orange;}
#INAD {  background-color: chartreuse;}
#INNI {  background-color: chartreuse;}
#INTE {  background-color: chartreuse;}
#ITAD {  background-color: maroon;}
#PGAD {  background-color: gold;}
#NIV {  background-color: aquamarine;}

#banner{
	margin:0;
	height:105px;
	background: url(encabezado_bg.gif) repeat-x center top;
	padding-right: 30px;
	padding-left: 30px;
}

#banner_barra{
  background: url(barra_amarilla_ucv.png) no-repeat left;
  background-position: 10px 20px;
  letter-spacing: 3px;
}

#banner_contenido{
	padding-top: 29px;
	padding-left: 30px; 
	background:url(aceim.png) no-repeat right; 
	font-size: 13px; 
	text-align: left; 
	color: white; 
	font-weight: lighter;
}

#menubar {
   background: url(barra_amarilla.png) repeat-x left; 
   padding-left: 38px;
}

#pie {	
	padding: 10px 0 10px 0;
	display:block;
	background: url(encabezado_bg.gif) repeat-x center bottom;
	color: white;
	font-size: 10px;
	letter-spacing: 3px;
	border-bottom: 2px solid black;
  	text-align: center;
}
