html{
		background: #ACCEF3;	
}
body{
	text-align:left;
	font-size:small;
	font-family:"Lucida Grande", Tahoma, Geneva, Arial, Verdana, sans-serif;
	
}

/*
article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object, output {
	display: block;
}
*/


#ALAD {  background-color: indigo; color: white}
#FRAD {  background-color: orange;}
#INAD {  background-color: chartreuse;}
#INNI {  background-color: chartreuse;}
#INTE {  background-color: chartreuse;}
#ITAD {  background-color: maroon;}
#PGAD {  background-color: gold;}
#NIV {  background-color: aquamarine;}




#banner{
	border-top: 2px solid black;
	margin:0;
	min-height:0;
	height:115px;
	background-image: url(../assets/encabezado_bg.gif) repeat-x center top;
	text-decoration:none;
	padding-right: 30px;
	padding-left: 30px;
}

#banner_barra{ 
	background: url(barra_amarilla_ucv.png) no-repeat left;
  background-position: 10px 20px;
  letter-spacing: 3px;
}

.detalle_derecha{
  float: right;
  letter-spacing: 2px;
  padding-left: 3%; 
  margin: 0px 10px;
}

#banner_contenido{padding-top: 25px;padding-left: 30px; background:url(../assets/aceim.png) no-repeat right; height:90px; font-size: 13px; text-align: left; color: white; font-weight: lighter;}


#menubar {
   background: url(barra_amarilla.png) repeat-x left; 
   padding-left: 38px;}



#pie {	
	padding: 10px 0 10px 0;
	display:block;
	background: url(../assets/encabezado_bg.gif) repeat-x center bottom;
	color: white;
	font-size: 10px;
	letter-spacing: 3px;
	border-bottom: 2px solid black;
  	text-align: center;
}
