
%div{:id => "actualizar_actividad_#{@actividad.id}", :style => 'display:none;'}
  = form_tag({:controller => 'actividades',:action => "update", id: @actividad.id},{:method => 'put'}) do
    .well
      =# hidden_field_tag :id, @actividad.id
      %h2
        = text_field_tag 'actividad[instrucciones]', @actividad.instrucciones, :style => 'width: 100%;'
      %input.btn.small{:type => 'submit', :value => 'Actualizar Actividad', :name => 'commit'}