!!!
%html
  %head
    %title ACEIM - Escuela de Idiomas Modernos  
    =stylesheet_link_tag  "/aceim/assets/application"
    =javascript_include_tag "/aceim/assets/application"
    =javascript_include_tag "/aceim/assets/#{controller_name}"
  %body
    #banner
      #banner_barra
        #banner_contenido
          Universidad Central de Venezuela
          %br/
          Facultad de Humanidades y Educación
          %br/
          Escuela de Idiomas Modernos
          %br/
          ACEIM
    #menubar.cargar_sesion
      %b.detalle_derecha
        :javascript
          //Variable para tomar la Hora del Servidor
          var serverTime = new Date("#{Time.now}"); 

          var mydate=new Date()
          var year=mydate.getYear()
          if (year < 1000) year+=1900
          var day=mydate.getDay()
          var month=mydate.getMonth()
          var daym=mydate.getDate()
          if (daym<10)
            daym="0"+daym
          var dayarray=new Array("Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado")
          var montharray=new Array("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre")
          document.write("<small><font color='000000' face='Arial'>"+dayarray[day]+", "+daym+" de "+montharray[month]+" de "+year+"</font></small>")

          function updateClock ( )
            {

              var currentTime = serverTime;

              var currentHours = currentTime.getHours ( );
              var currentMinutes = currentTime.getMinutes ( );
              //var currentSeconds = currentTime.getSeconds ( );

              // Pad the minutes and seconds with leading zeros, if required
              currentMinutes = ( currentMinutes < 10 ? "0" : "" ) + currentMinutes;
              //currentSeconds = ( currentSeconds < 10 ? "0" : "" ) + currentSeconds;

              // Choose either "AM" or "PM" as appropriate
              var timeOfDay = ( currentHours < 12 ) ? "AM" : "PM";

              // Convert the hours component to 12-hour format if needed
              currentHours = ( currentHours > 12 ) ? currentHours - 12 : currentHours;

              // Convert an hours component of "0" to "12"
              currentHours = ( currentHours == 0 ) ? 12 : currentHours;

              // Compose the string for display
              var currentTimeString = "- " + currentHours + ":" + currentMinutes + " " + timeOfDay;
              
              $("#clock").html(currentTimeString);
              
              serverTime.setMinutes(serverTime.getMinutes() + 1);
                  
           }

          $(document).ready(function()
          {
             updateClock();
             setInterval('updateClock()', 60000);
          });
        %b#clock

        = render 'cargar_sesion'
      %nav#sitenav
        %li.current
          =link_to "Inicio", :controller => "inicio", :action => "index"         
        %li
          =link_to "Contacto", "mailto:fundeimucv@gmail.com"     
    =yield
    #pie
      CIUDAD UNIVERSITARIA DE CARACAS - PATRIMONIO CULTURAL DE LA HUMANIDAD
      %br/
      Ciudad Universitaria de Caracas, Galpón 7, Frente a Farmacia. Telf.: (0212) 6052982
      %br/
      Cursos de Extensión EIM-UCV - 2011
      %br/
    =#image_tag "bottom.png"
    #ventana-modal 
    %div{ :id => "action_#{action_name}" }   
    
